tzlocal>=5.3.1
tqdm>=4.67.1
loguru>=0.7.3
numpy>=2.2.3
pandas>=2.2.3
ta-lib>=0.6.4
polars>=1.26.0
pyarrow>=19.0.1
scipy>=1.15.2
alphalens-reloaded>=0.4.5
plotly>=6.0.0
requests>=2.32.0
akshare>=1.18.0
